* {
	font-family: 'Ubuntu', sans-serif;
}

.superior {
	background: #999;
	padding: 0 20px ;
}

.container {
	margin-top: 3em;
}

.credencial {
	box-shadow: 0 0 25px;
}

.perfil {
	color: #fff;
	font-size: 18px;
}
.text-right {
	display: block;
	text-align: right;
	background: #f60;
	color: #FFF;
}

.menu_usuario {
	padding: 0px;
}

.footer {
	background: #000;
	color: green;
	font-size: 10px; 
}

.principal h2 {
	padding: 0 20px;
}

.cuerpo {
	padding: 0 20px;
}

.form-user {
	text-align: center;
	background: #eaeaea;
	border-radius: 15px;
	box-shadow: 0 0 20px;
}

.form-user h3 {
	color: #000;
	width: 100%;
}

.form-user form {
	background: #eaeaea;
	margin-bottom: 10px;
	font-size: 16px;
}

.form-user input, select {
	width: 100%;
	height: 30px;
	margin: 5px;
	padding: 3px;
	margin-bottom: 5px;
}

.tabla-usuarios td {
	text-transform: lowercase;
}

.producto-header {
	background: rgba(24, 186, 155, .5);
}

.producto-header h4 {
	color: #fff;
}

.modal-body form, input, textarea {
	margin: 5px;
}

.footer_admin {
	background: #000;
	color: green;
	height: 70px;
	vertical-align: bottom;
	margin-top: 50px;
}

.form-categoria input {
	text-transform: uppercase;
}

.form-subcategoria input {
	text-transform: uppercase;
}

.form_producto input, textarea, option, select{
	text-transform: uppercase;
}

.table_productos td {
	text-transform: uppercase;
}

.imagen_producto {
	width: 150px;
}

.form-despublicar {
	background: #fff;
	text-transform: uppercase;
	text-align: center;
}

.form-despublicar-footer {
	background: #fff;
}