* {
	margin: 0; /* Margen exterior */
	padding: 0; /* Margen iterior */
	border: 0; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: #333;
	color: #fff;
	font-family: Ubuntu, arial;
	margin: 0;
	text-align: center;	
}

header, section.img-home, section.contenido, section.galeria_inx, .top_header, footer{
	margin: 1px auto;
	width: 80%;
	background: #8c8c7c;
	color: #000;
}

header{
	padding: 10px;
}

.top_header {
	margin: 1px auto;
	width: 80%;
	background: #8c8c7c;
	color: #000;
}

.logo, nav{
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	text-align: center;
}

nav {
	width: 68%;
	text-align: right;
}

nav ul{
	list-style: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	background: #f60;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

nav ul li a:hover {
	background: #333;
	color: #f60;
	text-decoration: none;
}

section.img-home img{
	width: 100%;
	display: block;
}

section.contenido {
	background: none;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 1px;
}

section.contenido_peru {
	background: #000;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 1px;
}


section.galeria_inx {
	background: none;
	width: 80%;
	height: auto;
	margin: 1px auto;
	margin-bottom: 5px;
	padding: 5px;
	text-align: center;
}

article.mensaje a{
	text-decoration: none;
	background: #226FFF;
	color: #fff; 
	padding: 10px;
	margin: 5px;
	border-radius: 14px;
	display: inline-block;
}

article.mensaje a:hover {
	background: #E8A55B;
	color: #FFF;
	border-radius: 14px;
	text-decoration: none;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
	display: inline-block;
}


article div.galeria_main {
	background: #fff;
	display: inline-block;
	padding: 0px;
	text-align: center;
	margin: auto;
}

article.mensaje {
	display: inline-block;
	width: 100%;
	background: #a6bd9a;
	color: #000;
	padding: 40px;
	border-radius: 10px;
	vertical-align: top;
	line-height: 25px;
	text-align: center;
}

article.contenido_gal {
	display: inline-block;
	width: 100%;
	background: #a6bd9a;
	color: #000;
	padding: 20px 0; 
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
}

.cont_galeria {
	width: 90%;
	display: inline-block;
	text-align: center;
}

.cont_galeria a {
	text-decoration: none;
}

article.contenido_gal img {
	box-shadow: 10px 10px 5px #888888;
	margin-left: 10px;
	margin-top: 20px;
}

article.contenido_gal h1 {
	margin-top: 20px;
}

article.mensaje h3{
	color: #000;
}

article.mensaje p {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: justify;
	font-size: 14px;
	width: 60%;
	display: inline-block;
}

article.mensaje a.bt-vermas {
	background: #E8A55B;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
	display: inline-block;
	border-radius: 5px;
} 

article.mensaje a.bt-vermas:hover {
	background: #333;
	color: #f60;
	text-decoration: none;
}

article.mensaje i {
	margin: 10px 0px;
	font-size: 60px;
	color: #FFF;
	background: #333;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	line-height: 120px;
	border: 5px solid #F60;
	padding: 10px 20px;
	text-align: justify;
}

article.mensaje ul{
	margin: 0 10%;
	text-align: left;
	font-size: 14px;
}

article.mensaje img{
	width: 50%;
	border-radius: 14px;
	border: 3px solid;
}

article.mensaje a.escudo { 
	text-decoration: none;
	background: #a6bd9a;
}

section.cont_peru {
	width: 80%;
	text-align: center;
	display: inline-block;
}

article.arti_peru {
	margin: 0;
	padding-top: 10px;
	background: #000;
}

.texto_peru {
	width: 100%;
	text-align: center;
}

.texto_peru p{
	width: 70%;
	text-align: justify;
	display: inline-block;
}

.texto_peru img{
	width: 70%;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
	display: inline-block;
}


footer{
	width: 100%;
	background: #000;
	margin-bottom: 0px;
	padding: 50px;
	text-align: center;
	color: #fff;
}

footer a{
	text-decoration: none;
	color: #FFF;
}

footer a:hover{
	color: #e8ea25;
}

.afiche {
	box-shadow: 0px 0px 10px;
}

article img.imagen_portada {
	box-shadow: 0px 0px 10px #960;
	width: 60%;
	border-radius: 14px;
	border: 1px solid;
}


.bt-galeria {
	width: 40%;
	background: #f60;
	color: white;
}

.btn-peru {
	background: #f60;
}

.footer1 {
	padding: 10px 0;
	margin-bottom: 10px;
}

.caja_img {
	text-align: center;
	width: 100%;
}

.img_portada {
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 10px #000; 
}

.caja_img_peru {
	text-align: center;
	width: 100%;
}

.img_portada_peru {
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 10px #000; 
}

@media (max-width: 900px) {
	header, section.img-home, section.contenido{
		width: 90%;
	}
	.iframe_youtube {
		width: 300px;
		height: 150px;
		padding: 10px;
		margin-bottom: 5px;
	}
}

@media (max-width: 750px){
	article.mensaje{
		width: 100%;
		margin-top: 10px;
	}
	.iframe_youtube {
		width: 300px;
		height: 150px;
		padding: 10px;
		margin-bottom: 5px;
	}
}

@media (max-width: 580px){
	header, section.img-home, section.contenido, .top_header{
		width: 100%;
	}
	.logo, nav {
		width: 100%;
		text-align: center;
	}
	nav ul li{
		display: block;
	} 

	nav ul li a{
		width: 100%;
		display: block;
		margin-top: 5px;
	}

	article.mensaje p {
		width: 100%;
	}

	article.mensaje img{
		width: 100%;
	}

	article img.imagen_portada {
		width: 100%;
	}

	.bt-galeria {
		width: 100%;
	}

	.iframe_youtube {
		width: 300px;
		height: 150px;
		padding: 10px;
		margin-bottom: 5px;
	}

	section.galeria_inx {
		width: 100%;		
	}

	.galeria_inx {
		width: 100%;
	}

	.contenido_gal {
		width: 100%;
	}
	.cont_galeria {
		width: 100%;
	}

	.img_portada{
		width: 100%;
	}

	.caja_img_peru {
		text-align: center;
		width: 100%;
	}

	.img_portada_peru {
		display: inline-block;
		width: 100%;
		box-shadow: 0 0 10px #000; 
	}

	.texto_peru p{
		width: 90%;
		text-align: justify;
		display: inline-block;
	}

	.texto_peru img{
		width: 95%;
		text-align: center;
		margin-bottom: 5px;
		padding-bottom: 10px;
		display: inline-block;
	}

	.cont_peru {
		width: 100%;
	}

	.arti_peru {
		width: 100%;
	}
	article.mensaje {
		width: 100%;
	}

	.contenido {
		width: 100%;
	}
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden;}
div#slider figure img { width: 20%; height: 100%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
  box-shadow: 2px 2px 5px #fff;
}

#container {
	width: 850px;
	margin: 150px auto;
}

#container img{
	cursor: pointer;
} 

#previa {
	background: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

#previa div{
	margin: 30px auto;
	width: 381px;
}
